{% extends "app.html" %}
{% block title %}{{userRaw.name}} - View User{% endblock %}
{% block body %}
{{ super() }}
<script type="text/javascript">
$(function() {
  d3.selectAll("input").on("change", change);

  var timeout = setTimeout(function() {
   d3.select("input[value=\"grouped\"]").property("checked", true).each(change);
  }, 2000);

  function change() {
   clearTimeout(timeout);
   if (this.value === "grouped") transitionGrouped();
   else transitionStacked();
  }
});
</script>
<div class="content">
  <h1>Hi, {{userRaw.name}}!</h1>
  <h2>Let's take a quick look at how productive you're being.
  <small>
    <form method="post" action="/user/{{userRaw.email}}/sleep">
      <input type="submit" value="Tell {{userRaw.name}} to go to sleep">
    </form>
  </small>
  </h2>

<div class="diff-graph-wrapper">
  <div class="toggle">
    <form>
     <label><input type="radio" name="mode" value="grouped" checked> Grouped</label>
     <label><input type="radio" name="mode" value="stacked"> Stacked</label>
    </form>
  </div>
  <div class="diffGraph"></div>
</div>
  <p class="desc">This graph shows the number of files you've changed in a given time
    span. Green is for added lines, red is for removed lines (a la Git).
  </p>
</div>
<div class="windowGraph"></div>



<script src="http://underscorejs.org/underscore-min.js" ></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<style>
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect:hover {
  fill: grey;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}

text.child {
  display: none;
}
</style>
<script type="text/javascript">
var data = {{diffs|safe}};

var user = {{user|safe}};

var actWindows = {{actWindows|safe}};

var reducedWindows = _.reduce(actWindows, function(memo, val, index) {
  if( _.find(memo.children, function(elem) { return elem.name === val.app; } ) ) {
    var found = _.find(memo.children, function(elem) { return elem.name === val.app; } );
    var indFound = _.indexOf(memo.children, found);
    if(_.find(memo.children[indFound].children, function(elem) { return elem.name === val.title; } )){
      var foundT = _.find(memo.children[indFound].children, function(elem) { return elem.name === val.title; } );
      var indFoundT = _.indexOf(memo.children[indFound].children, foundT);
      memo.children[indFound].children[indFoundT].size += index;
    } else {
      memo.children[indFound].children.push({name:val.title, size:index});
    }
  } else {
    memo.children.push({name: val.app, children:[{name:val.title, size:index}]});
  }
  return memo;
}, {name:"open windows", children:[]});


var cleanData = [];

cleanData[0] = _.map(data, function(elem) {
  return {
    y : elem.lines_inserted || 0,
    x : elem.time,
    type : 'inserted',
    color : '#709f71'
  };
});
cleanData[1] = _.map(data, function(elem) {
  return {
    y : elem.lines_deleted || 0,
    x : elem.time,
    type : 'deleted',
    color :  '#d26a64'
  };
});

var n = 2, // number of layers
    m = cleanData[0].length, // number of samples per layer
    stack = d3.layout.stack(),
    layers = stack(cleanData),
    yGroupMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y; }); }),
    yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); }),
    xMin = d3.min(layers[0], function(d) { return d.x; }),
    xMax = d3.max(layers[0], function(d) { return d.x; });

var margin = {top: 40, right: 10, bottom: 20, left: 60},
  width = 1200 - margin.left - margin.right,
  height = 500 - margin.top - margin.bottom;

var x = d3.time.scale()
          .domain([new Date(xMin*1000), new Date(xMax*1000)])
          .rangeRound([0, width]);

var y = d3.scale.log()
          .clamp(true)
          .domain([1, yStackMax])
          .rangeRound([height, 0]);

var color = d3.scale.ordinal()
              .domain([0, n - 1])
              .range(["#709f71", "#d26a64"]);

var xAxis = d3.svg.axis()
              .scale(x)
              .tickSize(0)
              .tickPadding(6)
              .orient("bottom");

var yAxis = d3.svg.axis()
              .scale(y)
              .tickSize(0)
              .tickPadding(6)
              .orient("left");

var tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function(d) {
              return "<strong>Lines "+d.type+":</strong> <span style='color:"+d.color+"'>" + d.y + "</span>";
            });

var svg = d3.select(".diffGraph").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.call(tip);

var layer = svg.selectAll(".layer")
               .data(layers)
               .enter().append("g")
               .attr("class", "layer")
               .style("fill", function(d, i) { return color(i); });

var rect = layer.selectAll("rect")
                .data(function(d) { return d; })
                .enter().append("rect")
                .attr("x", function(d) { return x(d.x*1000); })
                .attr("y", height)
                .attr("width", width/m)
                .attr("height", 0)
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);

rect.transition()
    .delay(function(d, i) { return (1000 / m) * i; })
    .attr("y", function(d) { return y(d.y0 + d.y); })
    .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); });

svg.append("g")
   .attr("class", "x axis")
   .attr("transform", "translate(0," + height + ")")
   .call(xAxis);

svg.append("g")
   .attr("class", "y axis")
   .attr("transform", "translate(0,0)")
   .call(yAxis);

d3.selectAll("input").on("change", change);

var timeout = setTimeout(function() {
  d3.select("input[value=\"grouped\"]").property("checked", true).each(change);
}, 2000);

function change() {
  clearTimeout(timeout);
  if (this.value === "grouped") transitionGrouped();
  else transitionStacked();
}

function transitionGrouped() {
  y.domain([1, yGroupMax]);

  rect.transition()
      .duration(1000)
      .delay(function(d, i) { return (1000 / m) * i; })
      .attr("x", function(d, i, j) { return x(d.x*1000) + (width / m) / n * j; })
      .attr("width", (width / m) / n )
      .transition()
      .attr("y", function(d) { return y(d.y); })
      .attr("height", function(d) { return height - y(d.y); });
}

function transitionStacked() {
  y.domain([1, yStackMax]);

  rect.transition()
      .duration(1000)
      .delay(function(d, i) { return (1000 / m) * i; })
      .attr("y", function(d) { return y(d.y0 + d.y); })
      .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
      .transition()
      .attr("x", function(d) { return x(d.x*1000); })
      .attr("width", width / m);
}

var wC = 1280,
    hC = 800,
    rC = 720,
    xC = d3.scale.linear().range([0, rC]),
    yC = d3.scale.linear().range([0, rC]),
    node,
    root;

var pack = d3.layout.pack()
             .size([rC, rC])
             .value(function(d) { return d.size; })

var vis = d3.select(".windowGraph").insert("svg:svg", "h2")
            .attr("width", wC)
            .attr("height", hC)
            .append("svg:g")
            .attr("transform", "translate(" + (wC - rC) / 2 + "," + (hC - rC) / 2 + ")");

  data = reducedWindows;
  node = root = data;

  var nodes = pack.nodes(root);

  vis.selectAll("circle")
    .data(nodes)
    .enter().append("svg:circle")
    .attr("class", function(d) { return d.children ? "parent" : "child"; })
    .attr("cx", function(d) { return d.x; })
    .attr("cy", function(d) { return d.y; })
    .attr("r", function(d) { return d.r; })
    .on('mouseover', function(d) {
      if(d.children) {
        console.log(d);
      }
    });

  vis.selectAll("text")
    .data(nodes)
    .enter().append("svg:text")
    .attr("class", function(d) { return d.children ? "parent" : "child"; })
    .attr("x", function(d) { return d.x; })
    .attr("y", function(d) { return d.y; })
    .attr("dy", ".35em")
    .attr("text-anchor", "middle")
    .style("opacity", function(d) { return d.r > 20 ? 1 : 0; })
    .text(function(d) { return d.name; });




</script>
{% endblock %}
